.indicaor-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .indicaor-list-selectBox {
    display: flex;
    justify-content: space-between;
    .indicaor-list-selectBox-one {
      display: flex;
      justify-content: space-between;
      align-items: center;
      & > li:not(:last-child) {
        margin-right: 20px;
        height: 30px;
      }
    }
  }
  &-btn{
    display: flex;
  }
}