/*
 * @Author: Marlon
 * @Date: 2020-02-18 16:59:18
 * @LastEditors: Marlon
 * @LastEditTime: 2020-12-07 09:27:12
 * @Description: 系统配置
 */
/* 项目主色 */
$main_color: #1F5191;

/*************** 左侧 ***************/
$lt_menu_bg: rgba(31, 81, 145, 0.25);
$lt_memu_color: #fff;
$lt_menu_bg_active: $main_color;
$lt_menu_collapse: rgb(46, 61, 72);
$lt_bg: #112742;
$lt_font: rgba(255, 255, 255, 0.7);
/*************** 主体 ***************/
$main_bg: #F5F5F6;
$main_breadcrumb_bg: #fff;
$main_content_bg: #fff;


// 常用宽度
@for $i from 1 through 500 {
  .ui-w#{$i} {
    width: $i+px!important;
  }
}