.login {
    width: 100%;
    height: 100%;
    position: relative;
    background: #000;
    &-con {
        position: absolute;
        // top: 50%;
        left: 50%;
        transform: translate(-50%);
        width: 1125px;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        background: #000;
        .gb-icon {
            flex: 1;
            position: relative;
            .icon {
                width: 298px;
                height: 342px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                // background-image: url("../../assets/img/login/login_icon@298_342.png");
            }
        }
        .gb-card {
            width: 450px;
            box-sizing: border-box;
            position: relative;
            .gb-login {
                box-sizing: border-box;
                height: 270px;
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                &-title {
                    height: 40px;
                    line-height: 38px;
                    color: #fff;
                    letter-spacing: 1px;
                    font-size: 20px;
                    font-family: PingFang-SC-Medium;
                    text-align: center;
                    margin-bottom: 80px;
                }
                &-info {
                    position: relative;
                    overflow: hidden;
                    margin: 10px 120px;
                    /deep/ .el-form-item {
                        box-sizing: border-box;
                        border-bottom: 1px solid #929292;
                    }
                    /deep/ .el-form-item__label {
                        text-align-last: justify;
                        color: #fff;
                        font-family: PingFang-SC-Medium;
                    }
                    /deep/ .el-button--primary {
                        background-color: #fff;
                        border-color: #fff;
                        color: #000000;
                        letter-spacing: 1.5px;
                        font-size: 16px;
                        font-family: PingFang-SC-Regular, PingFang SC;
                        font-weight: 400;
                        &:hover {
                            background-color: #01c1df;
                            border-color: #01c1df;
                            -webkit-transition: all 0.2s ease-in-out;
                            transition: all 0.2s ease-in-out;
                        }
                    }
                    /deep/ .el-input__inner {
                        background-color: transparent;
                        border: 0;
                    }

                    button {
                        margin-top: 10px;
                    }
                    /deep/ .el-input--medium .el-input__inner {
                        letter-spacing: 1px;
                        padding-left: 20px;
                    }
                    /deep/ .el-form-item__error {
                        background-color: #000;
                        left: 19px;
                        color: #bf565b;
                    }
                    /deep/ .el-form-item.is-error .el-input__icon,
                    .el-form-item.is-error .el-input__validateIcon {
                        color: #bf565b;
                    }
                    input::-webkit-input-placeholder {
                        color: #b3b2b2;
                    }
                    input:-moz-placeholder {
                        color: #b3b2b2;
                    }
                    input::-moz-placeholder {
                        color: #b3b2b2;
                    }
                    input:-ms-input-placeholder {
                        color: #b3b2b2;
                    }
                    input {
                        color: rgb(199, 198, 198);
                    }
                }
            }
            &-msg {
                position: absolute;
                bottom: 30px;
                overflow: hidden;
                width: 100%;
                height: 17px;
                font-size: 12px;
                font-family: PingFang-SC-Light, PingFang SC;
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                line-height: 17px;
                text-align: center;
                opacity: 0.6;
                letter-spacing: 1px;
            }
        }
    }
    /* 去除Chrome自带输入样式 */
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        -webkit-text-fill-color: #ededed !important;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
        background-color: transparent;
        background-image: none;
        transition: background-color 50000s ease-in-out 0s; //背景色透明  生效时长  过渡效果  启用时延迟的时
    }
    input {
        background-color: transparent;
    }
}
