@import "~@/assets/css/platform/bd/config.scss";
.bx-search-detail {
  width: 1200px;
  margin: 10px auto;
  .bx-search-content {
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #d2d2d2;
    box-shadow: 0px 1px 8px 1px rgba(109, 109, 109, 0.2);
    background: #ffffff;
    font-size: 14px;
  }

  .bx-search-title {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #555555;
  }
  .bx-search-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 26px 0 10px 0;
    span {
      margin-right: 40px;
    }
  }
  .bx-search-item {
    width: 100%;
    padding-top: 18px;
    border-top: 2px solid $main_color;
    /deep/ .inner {
      width: 100% !important;
    }
  }
  .lookText {
    position: relative;
    padding-left: 20px;
    color: $main_color;
    > b {
      position: absolute;
      top: 0;
      left: 0;
      width: 14px;
      height: 14px;
      background-size: 100% 100%;
    }
  }
  .dialog { 
    // height: 255px;
    .dialog-tip {
      display: flex;
      align-items: baseline;
      .icon-warn {
        margin-right: 5px;
        color: red;
      }
    }
    
  }
  .isCollection {
    color: $main_color;
  }
  
}