@import "~@/assets/css/platform/bd/config.scss";
.bx-search{
  width: 1200px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #D2D2D2;
  box-shadow: 0px 1px 8px 1px rgba(109, 109, 109, 0.2);
  background: #FFFFFF;
  font-size: 14px;
  // 本页面样式
  .header-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    .btn-seacrch {
      width:54px;
      height:44px;
      background:$main_color;
    }
    .label-style {
      font-weight: 600;
    }
    /deep/ .el-input-group{
      border-color: $main_color;
    }
    /deep/ .el-input--suffix .el-input__inner {
      background: #E5F4FA;
    }
    /deep/ .el-input__inner {
      height: 44px;
      line-height: 44px;
    }
  }
  .defaultStyle {
    display: inline-block;
    margin-left: 10px;
  }
  .form-sort {
    margin: 26px 0 10px 0;
    display: flex;
    justify-content: space-between;
    /deep/ .el-radio-button__orig-radio:checked+.el-radio-button__inner {
      color: $main_color;
      background-color:#E5F4FA;
      border-color: $main_color
    }
  }
  .screen-item {
    display: flex;
    margin-bottom: 15px;
    border-bottom: 1px dashed #D2D2D2;
    >span { 
      width: 80px;
      height: 32px;
      line-height: 32px;
    }
    >div {
      width: 1000px;
      padding-bottom: 15px;
    }
  }
  .no-data-content {
    h1 {
      font-size: 20px;
      font-weight: 400;
      color: #555555;
    }
    h6 {
      margin: 20px 0 10px 0;
      font-size: 14px;
      font-weight: 400;
      color: #999999;
    }
    p {
      font-size: 14px;
      color: #555555;
    }
  }
  /deep/ .el-table--card .el-table__header th {
    border: none;
  }
}