/*
 * @Author: Marlon
 * @Date: 2020-02-18 16:59:18
 * @LastEditors: Marlon
 * @LastEditTime: 2020-10-30 15:19:07
 * @Description: 系统配置-GST
 */

/* 基础配置 */
// 页面级展开/收缩
$fold_bg: rgb(216, 216, 216);
// 隐藏页
$other_bg: #fff;

/*************** 顶部 ***************/
$header_bg: rgba(37, 42, 46, 1);
$header_color: rgba(255, 255, 255, 0.7);
$header_title: rgb(255, 255, 255);
/*************** 左侧 ***************/
$lt_bg: $header_bg;
$lt_font: $header_color;
$lt_menu_bg: rgba(1, 193, 223, 0.25);
$lt_memu_color: #fff;
$lt_menu_bg_active: rgba(1, 193, 223, 1);
$lt_menu_collapse: rgb(46, 61, 72);
/*************** 主体 ***************/
$main_bg: rgb(245, 245, 246);
$main_breadcrumb_bg: #fff;
// 用户信息
$user_bg_hover: rgba(1, 193, 223, 0.25);
$user_color_hover: #fff;

/*************** 表格 ***************/
// 标题
$table_title_bg: rgb(229, 229, 229);
$table_title_color: #555;
// 操作
$table_link_color: #3a8ee6; // 可点击
$table_link_color_hover: rgb(10, 112, 221); //"#0a70dd";
// 编辑按钮
$table_edit_btn_bg: rgb(255, 0, 0);
$table_edit_btn_color: rgb(255, 255, 255);
$table_edit_btn_color_focus: rgb(255, 0, 0);
$table_edit_btn_border_color: rgb(198, 226, 255);
$table_edit_btn_bg_focus: rgb(236, 245, 255);
$table_edit_btn_color_active: rgba(1, 193, 223, 1);
$table_edit_btn_border_color_active: rgba(1, 193, 223, 1);
// 表格-特殊值-标记
$table_mark_color: rgb(255, 0, 0);
// 激活当前行
$table_row_active: rgba(24, 144, 255, 0.1);
// 行标记
$table_row_mark: rgba(71, 227, 248, 0.555);
// 列标记
$table_column_min: rgb(112, 182, 3);
$table_column_max: rgb(217, 0, 27);

/*************** 表单弹出框 ***************/
$form_dialog_header_bg: rgba(1, 193, 223, 1);
$form_dialog_header_color: rgb(255, 255, 255);
/* ******************* 树形分隔配置 ********************* */
$tree_bg: rgb(223, 223, 223);
$tree_bg_active: #f0f7ff;
// 算法规则树
$Fn_tree_bg_lt: #e6e6e6;
$Fn_tree_bg_mid: #efefef;
$Fn_tree_bg_rt: #f7f7f7;

/* ********** 卡片 标签 *************** */
$card_shadow: rgba(1, 193, 223, 0.432);
$card_border: rgb(1, 193, 223);

// 交易天网-表格综合风险度tootip
$table_100_cg: #ff4b53;
$table_80_cg: #f78e16;
$table_60_cg: #ed72b5;
$table_40_cg: #2aa7dc;
$table_0_cg: #58b953;
// 按钮主色
$main_default_cg: #555555;
$main_hover_cg: #01c1df;
